<link rel="stylesheet" href="/components/pin-feed/pin-feed.css">

<article>
    <img src="" alt="">
    <section>
        <section class="spin-details">
            <p class="spin-crawler"><span>@</span>{{pin.username}}</p>
            <h2 class="image-title">{{pin.imageTitle}}</h2>
            <p class="image-description">{{pin.imageDescription}}</p>
        </section>

        <section class="comments">
            <h2>Comments</h2>
            <section class="comment-output"></section>
            <section class="comment-input">
                <label for="typed-comment">
                    <input id="typed-comment" type="text" placeholder="Type...">
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                        </svg>
                    </button>
                </label>
                <button class="like-image-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                    </svg>
                    <span>0</span>
                </button>
            </section>
        </section>
    </section>
</article>



