<link rel="stylesheet" href="/components/pin-feed/pin-feed.css">

<article>
    <img src="https://i.pinimg.com/564x/df/76/e2/df76e29118c254d7eadf1e6d5014bdff.jpg" alt="">
<!--    <img src="https://www.shutterstock.com/image-photo/wide-panorama-image-new-york-260nw-1740358448.jpg" alt="">-->
    <section>
        <section class="spin-details">
            <p class="spin-crawler"><span>@</span>cameron.zwane</p>
            <h2>Spooky Table Ideas ✶✧ (Title)</h2>
            <p>Ideas on how to decorate your table if you want Casper to come visit. (description)</p>
        </section>

        <section class="comments">
            <h2>Comments</h2>
            <section class="comment">
                <h3>@yonwabisa.zwane</h3>
                <p>Super nice! I really like the idea of having casper over for dinner.</p>
                <button>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                    </svg>
                    <span>20</span>
                </button>
            </section>
            <section class="comment">
                <h3>@emma.smith</h3>
                <p>I don’t know where on earth one would buy most of these decorations but okeee.</p>
                <button>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                    </svg>
                    <span>0</span>
                </button>
            </section>
            <section class="commentInput">
                <label for="typedComment">
                    <input id="typedComment" type="text" placeholder="Type...">
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                        </svg>
                    </button>
                </label>
                <button>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                    </svg>
                    <span>0</span>
                </button>
            </section>
        </section>
    </section>
</article>



