<link rel="stylesheet" href="/components/web-card/web-card.css">

<article>
    <article class="card">
        <section class="image">
            <img src="" alt="">
        </section>
        <section class="image">
            <img src="" alt="">
        </section>
        <section class="image">
            <img src="" alt="">
        </section>
        <section class="image">
            <img src="" alt="">
        </section>
    </article>
    <h4>Title</h4>
    <p class="subtitle">Description</p>
</article>