<link rel="stylesheet" href="/components/board-card/board-card.css">

<article>
    <article class="card">
        <section class="image">
            <img src="" alt="" id="image1">
        </section>
        <section class="image">
            <img src="" alt="" id="image2">
        </section>
        <section class="image">
            <img src="" alt="" id="image3">
        </section>
        <section class="image">
            <img src="" alt="" id="image4">
        </section>
    </article>
    <h4 id="title">Title</h4>
    <p class="subtitle" id="subtitle">Description</p>
</article>