nav {
    background-color: var(--primary-bg-color);
    position: sticky;
    top: 0;
}

nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 8em;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
    outline: 0;
    cursor: auto;
}

nav button {
    color: var(--text-color);
    background-color: var(--secondary-bg-color);
    border: none;
    border-radius: 1em;
    padding: 1em 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    cursor: pointer;
}

.active {
    background-color:var(--tertiary-bg-color);
}

nav li {
    align-items: center;
    justify-content: center;
}

nav img {
    height: 40%;
    width: 40%;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

nav img:hover {

}

nav label {
    color: var(--text-color);
    background-color: var(--secondary-bg-color);
    border-radius: 1em;
    padding: 1em 1.5em;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

nav input {
    color: var(--text-color);
    background-color: var(--secondary-bg-color);
    border: none;
}

nav input::placeholder {
    color: var(--text-color);
}

nav input:focus {
    outline: none;
}

nav h1 {
    color: var(--secondary-text-color);
    text-align: center;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--primary-bg-color);
  min-width: 10em;
  box-shadow: 0em 0.6em 1em 0em rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content p {
    color: var(--secondary-text-color);
    text-align: left;
    margin: 0;
    padding: 0.8em 1em;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content p:hover {background-color: var(--secondary-bg-color);}

.dropdown:hover .dropdown-content {display: block;}

@media screen and (max-width: 760px) {
    nav ul {
        height: 5em;
    }
    nav span {
        display: none;
    }

    li:has(#imgSpider) {
        order: 1;
    }

    #imgSpider {
        display: none;
    }

    li:has(#btnHome) {
        display: none;
    }


    li:has(#btnBoard) {
        order: 2;
    }

    li:has(#btnPin) {
        order: 3;
    }

    #profile {
        order: 4;
    }

    li:has(#sign-in) {
        order: 5;
    }
}
