article h4{
    padding-top: 0.5em;
}

.subtitle{
    font-size: 0.6em;
    color: var(--tertiary-text-color);
    padding-top: 0.1em;
}

.image{
    background-color: var(--quarternary-bg-color);
    height: 4.5em;
    width: 4.5em;
    border-radius: 0.5em;
    margin: 0.15em;
}

.image img{
    height: 4.5em;
    width: 4.5em;
    object-fit: cover;
    border-radius: 0.5em;
}

.web-text-cutter{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
