.card{
    background-color: var(--secondary-bg-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 10em;
    width: 10em;
    border-radius: 0.5em;
    align-content: center;
    justify-content: center;
    cursor: pointer;
}

.feed{
    background-color: var(--primary-bg-color);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#create-card{
    background-color: var(--secondary-bg-color);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 10em;
    width: 10em;
}

article{
    padding: 1em;
}

span{
    align-content: center;
    justify-content: center;
}

#create-card{
    display: flex;
}

