<link rel="stylesheet" href="/components/web-feed/web-feed.css">

<article class="feed">
    <article id="card-list">
        <section class="card" id="create-card">
            <svg xmlns="http://www.w3.org/2000/svg" width="5em" height="5em" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                 <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
            </svg>
            <span>Add Web</span>
        </section>
        <h4>New Web</h4>
    </article>
    <web-card></web-card>
</article>
<dialog class="modal" id="create-web">
    <section>
        <h2>Create Web</h2>
        <section class="underline"></section>
        <br>
        <form method="dialog">
            <input type="text" placeholder="Title" id="inpWebTitle" class="formInput">
            <br>
            <textarea name="description" id="txtWebDesc" class="formTextArea" placeholder="Description"></textarea>
            <br>
            <button id="btnCreate">Create</button>
        </form>
    </section>
</dialog>