@import "themes.css";

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family: "Roboto Light", sans-serif;
    background-color: var(--primary-bg-color);
}

main {
    padding: 2em;
    background-color: var(--primary-bg-color);
    color: var(--text-color);
}

.modal{
    height: 25em;
    width: 40em;
    background-color: var(--secondary-bg-color);
    justify-content: center;
    margin: auto;
    border-radius: 0.75em
}

.underline {
    background-color: var(--text-color);
    height: 0.3em;
    width: 3em;
    border-radius: 0.2em;
}

dialog section{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

dialog section h2{
    color: var(--text-color);
    text-align: center;
    width: 100%;
}

dialog section button{
    background-color: var(--tertiary-bg-color);
    height: 2rem;
    width: 20rem;
    color: var(--text-color);
    font-size: 0.6em;
    border-radius: 0.75em;
    cursor: pointer;
}

dialog section form{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-row: 1fr 1fr 1fr;
    width: 100%;
    padding-block: 0.3em;
}

.formInput {
    color: var(--text-color);
    background-color: var(--primary-bg-color);
    height: 3.5em;
    border: 0;
    border-radius: 0.75em;
    padding: 0.75em;
}

.formTextArea {
    color: var(--text-color);
    background-color: var(--primary-bg-color);
    height: 7em;
    border: 0;
    border-radius: 0.75em;
    padding: 0.75em;
    resize: none;
}

label.formInput {
    justify-content: center;
    height: 3em;
    cursor: pointer;
}

label input[type="file"] {
    display: none;
}

label span {
    color: gray;
    font-size: small;
}

#upload-icon {
    float: right;
    padding-top: 0.2em;
}

@media only screen and (orientation: portrait) {
    pin-feed {
        width: 100%;
    }
    main {
        width:100%;
        padding: 2em 0;
    }
  }
