@import "themes.css";

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family: "Roboto Light", sans-serif;
    background-color: var(--primary-bg-color);
}

main {
    padding: 2em;
    background-color: var(--primary-bg-color);
    color: var(--text-color);
}