@import "themes.css";

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family: "Roboto Light", sans-serif;
    background-color: var(--primary-bg-color);
}

main {
    padding: 2em;
    background-color: var(--primary-bg-color);
    color: var(--text-color);
}

.modal{
    height: 25em;
    width: 40em;
    background-color: var(--secondary-bg-color);
    justify-content: center;
    margin: auto;
    border-radius: 0.75em;
    overflow: hidden;
}

.underline {
    background-color: var(--text-color);
    height: 0.3em;
    width: 3em;
    border-radius: 0.2em;
}

dialog section{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

dialog section h2{
    color: var(--text-color);
    text-align: center;
    width: 100%;
}

dialog section button{
    background-color: var(--tertiary-bg-color);
    height: 2rem;
    width: 20rem;
    color: var(--text-color);
    font-size: 0.6em;
    border-radius: 0.75em;
    cursor: pointer;
}

dialog section form{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-row: 1fr 1fr 1fr;
    width: 100%;
    padding-block: 0.3em;
}

.formInput {
    color: var(--text-color);
    background-color: var(--primary-bg-color);
    height: 3.5em;
    border: 0;
    border-radius: 0.75em;
    padding: 0.75em;
}

.formTextArea {
    color: var(--text-color);
    background-color: var(--primary-bg-color);
    height: 7em;
    border: 0;
    border-radius: 0.75em;
    padding: 0.75em;
    resize: none;
}

label.formInput {
    justify-content: center;
    height: 3em;
    cursor: pointer;
    max-width: 20em;
    overflow: hidden;
}

label input[type="file"] {
    display: none;
}

label span {
    color: gray;
    font-size: small;
    max-width: 18em;
    overflow: hidden;
}

#upload-icon {
    float: right;
    padding-top: 0.2em;
}

#btnClose {
    float: right;
    margin: 0.5em 0.5em auto auto;
    cursor: pointer;
}

.filled {
    color: var(--text-color);
    fill: var(--text-color);
}

.hidden {
    visibility: hidden;
}

@media only screen and (orientation: portrait) {
    pin-feed {
        width: 100%;
    }
    main {
        width:100%;
        padding: 2em 0;
    }
}

/* Toaster Styles */
.notifications {
    position: fixed;
    top: 1em;
    right: 1em;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.column button {
    margin-left: auto;
    background-color: transparent;
    color: var(--text-color);
    border: none;
}

.notifications .toast {
    width: 20em;
    position: relative;
    overflow: hidden;


    list-style: none;
    border-radius: 0.5em;
    padding: 1em;
    margin-block: 1em;
    background-color: var(--tertiary-text-color);
    color: var(--text-color);
    justify-content: space-between;
    animation: show_toast 0.3s ease forwards;
}

@keyframes show_toast {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-5%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-10px);
    }
}

.notifications .toast.hide {
    animation: hide_toast 0.3s ease forwards;
}

@keyframes hide_toast {
    0% {
        transform: translateX(-10px);
    }
    40% {
        transform: translateX(0%);
    }
    80% {
        transform: translateX(-5%);
    }
    100% {
        transform: translateX(calc(100% + 1em));
    }
}

.toast::before {
    position: absolute;
    content: "";
    height: 0.2em;
    width: 100%;
    bottom: 0;
    left: 0;
    animation: progress 5s linear forwards;
}

@keyframes progress {
    100% {
        width: 0;
    }
}

.toast.success::before, .btn#success {
    background: #0abf30
}

.toast.error::before, .btn#error {
    background: #e24d4c
}

.toast.warning::before, .btn#warning {
    background: #e8bd0c
}

.toast.info::before, .btn#info {
    background: var(--tertiary-bg-color)
}

@media screen and (max-width: 530px) {
    .notifications {
        width: 95%;
    }
    .notifications .toast {
        width: 100%;
        margin-left: 1em;
    }
}
