:root {
    --primary-bg-color-dark: #000000;
    --secondary-bg-color-dark: #191919;
    --tertiary-bg-color-dark: #DC5F00;
    --quarternary-bg-color-dark: #3F3F3F90;

    --text-color-dark: #FFFFFF;
    --secondary-text-color-dark: #DC5F00;
    --tertiary-text-color-dark: #CFCFCF90;

    --primary-bg-color-light: #FFFFFF;
    --secondary-bg-color-light: #EEEEEE;
    --tertiary-bg-color-light: #DC5F00;
    --quarternary-bg-color-light: #CFCFCF90;
    

    --text-color-light: #000000;
    --secondary-text-color-light: #DC5F00;
    --tertiary-text-color-light: #CFCFCF90;
    
}


.dark-mode {
    --primary-bg-color: var(--primary-bg-color-dark);
    --secondary-bg-color: var(--secondary-bg-color-dark);
    --tertiary-bg-color: var(--tertiary-bg-color-dark);
    --quarternary-bg-color: var(--quarternary-bg-color-dark);

    --text-color: var(--text-color-dark);
    --secondary-text-color: var(--secondary-text-color-dark);
    --tertiary-text-color: var(--tertiary-text-color-dark);
}

.light-mode {
    --primary-bg-color: var(--primary-bg-color-light);
    --secondary-bg-color: var(--secondary-bg-color-light);
    --tertiary-bg-color: var(--tertiary-bg-color-light);
    --quarternary-bg-color: var(--quarternary-bg-color-light);

    --text-color: var(--text-color-light);
    --secondary-text-color: var(--secondary-text-color-light);
    --tertiary-text-color: var(--tertiary-text-color-light);
}