<link rel="stylesheet" href="/components/masonry-feed/masonry-feed.css">

<article></article>

<dialog class="modal" id="create-image">
    <section>
        <h2>Create Spin</h2>
        <section class="underline"></section>
        <br>
        <form method="dialog">
            <input type="text" placeholder="Title" id="inpTitle" class="formInput">
            <br>
            <textarea name="description" id="txtDesc" class="formTextArea" placeholder="Description"></textarea>
            <br>
            <input type="text" placeholder="Tags" id="inpTag" class="formInput">
            <br>
            <input type="text" placeholder="Tags" id="inpTag" class="formInput">
            <br>
            <button id="btnCreate">Create</button>
        </form>
    </section>
</dialog>