article {
    column-count: auto;
    column-width: 14em;
    column-gap: 1em;
}

.image-wrapper {
    display: grid;
    grid-template-areas: 'overlay';
    justify-items: end;
    align-items: start;
    width: 100%;
    margin-block: 1em;
}

.image-button {
    width: 1.5em;
    height: 1.5em;

    grid-area: overlay;
    margin: 1em;
}

img {
    display:block;
    width: 100%;
    border-radius: 1em;
    cursor: pointer;
    grid-area: overlay;
}

article button {
    width: 100%;
    height: 10em;
    border-radius: 1em;
    /*margin-block: 0.5rem;*/

    background-color: var(--secondary-bg-color);
    color: var(--text-color);

    font-size: x-large;
    border: none;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#create-image{
    height: 35em;
    overflow: hidden;
}

.hidden{
    display: none;
}

.dropdown {
    grid-area: overlay;
}